.why{
    padding-top: 60px;
    padding-bottom: 60px;
}
.why > h2{
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
}
.why > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.why .card{
    text-align: center;
    width: calc((100% - 60px) / 4);
    height: 200px;
}
@media (max-width: 992px) {
    .why .card{
        width: calc((100% - 40px) / 3);
    }
}
@media (max-width: 767px) {
    .why .card{
        width: calc((100% - 20px) / 2);
    }
}
.why .card span{
    display: block;
    color: #fff;
    background-color: var(--main-color);
    background-image: var(--main-gradient);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    aspect-ratio: 1;
}

.why .card span svg{
    width: 80%;
    font-size: 60px;
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.4));
}
.why .card .cardText{
    margin-top: 10px;
}
.why .card .cardText h4{
    font-size: 26px;
    font-weight: bold;
}